@import "../../var/var.less";
.type-12-header {
  position: relative;
  overflow: hidden;

  .image-carousel {
    background-image: url(../images/slide01.jpg);
    height: 800px;
  }
  .navbar-brand .logo {
    max-width: 100px;
  }

  /*submenu*/
  .navbar-nav > li {
    position: relative;
  }
  .navbar-nav > li:hover .submenu {
    display: block;
  }
  .nav > li > a:hover,
  .nav > li > a:focus {
    background-color: #0d425e;
  }

  .submenu {
    display: none;
    width: 500px;
    position: absolute;
    z-index: 1;
  }
  .submenu li {
    list-style: none;
  }
  /*mui tên di chuyển*/
  .mui-ten-huong-len {
    position: fixed;
    bottom: 0;
    right: 0;
    background: #ffff66;
    padding: 10px 20px;
    border-radius: 5px;
  }

  .mui-ten-huong-len a {
    color: #fff;
    text-decoration: none;
  }
  .mui-ten-huong-len:hover {
    background: #fdd123;
    padding: 10px 20px;
    border-radius: 5px;
  }

  //logo
  .logo img {
    width: 80px;
    height: auto;
  }

  .navbar {
    background: #0d425e;
  }

  a {
    color: #fff;
  }

  .home {
    color: #fdd123;
  }
  .nav > li > a:hover {
    color: #fdd123;
  }
  .gold {
    color: #fdd123;
  }
  .row {
    display: flex;
    align-items: center;
  }
  .navbar-nav {
    float: left;
    margin: 0;
    width: 60;
    width: 60%;
    display: flex;
    justify-content: center;
  }
  .navbar-nav > li {
    padding: 0 15px;
  }
  .right {
    text-align: right;
    color: #fff;
  }
  //content
  .content h3 {
    line-height: 1;
    color: #fff;
  }
}
