.type-17 {
  background: #fff;
  position: relative;
  height: 100%;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}
.type-17 .content_17 {
  text-align: center;
}
.type-17 .aboutus_17::before {
  content: '';
  display: inline-block;
  width: 40px;
  text-align: center;
  height: 1px;
  background-color: #0d425e;
  transform: translateY(-0.3em);
  margin-right: 20px;
}
.type-17 .aboutus_17::after {
  box-sizing: border-box;
}
.type-17 .border-left-custom_17 {
  border-left: 2px solid #fdd123;
  padding-left: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.type-17 .left_17 {
  padding: 25px;
}
.type-17 .img_17 {
  width: 50%;
  border-radius: 50%;
}
.type-17 .swiper-slide {
  display: inline-block;
  cursor: grab;
}
.type-17 .fs_17 {
  width: 2em;
  height: 2em;
  line-height: 2em;
  background: #fdd123;
  text-align: center;
  border-radius: 50%;
  margin-left: 10px;
}
.type-17 .fs_17:hover {
  background: #3f729b;
  color: #fff;
  transition: 0.5s;
  text-decoration: none;
}
.type-17 .fs_17_yt {
  width: 2em;
  height: 2em;
  line-height: 2em;
  background: #fdd123;
  text-align: center;
  border-radius: 50%;
  margin-left: 10px;
}
.type-17 .fs_17_yt:hover {
  background: red;
  color: #fff;
  transition: 0.5s;
  text-decoration: none;
}
.type-17 .name_17 {
  color: #0d425e;
}
.type-17 .name_17:hover {
  color: #2394fd;
  text-decoration: none;
}
.type-17 .content_17_p {
  font-size: 16px;
  text-indent: unset;
  text-align: center;
  color: #9a9fa0;
}
.type-17 .img_17_quote {
  width: 45px;
  height: 35px;
  left: 50%;
  margin-top: 40px;
}
.type-17 .active_17 {
  background: #eef3f5;
  margin: 15px;
  width: 33%;
}
.type-17 .row {
  justify-content: center;
}
