.type-4 {
  border: 0px solid black;
  padding: 100px 200px;
  background-image: url(../images/im_9.png);
}
.type-4 .ol4 {
  padding-top: 150px;
  padding: 100px 50px;
}
.type-4 .p1 {
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
}
.type-4 .p1::before {
  content: '';
  display: inline-block;
  width: 40px;
  height: 1px;
  background-color: #0d425e;
  transform: translateY(-0.3em);
  margin-right: 20px;
}
.type-4 .p1::after {
  box-sizing: border-box;
}
.type-4 .title_4 h3 {
  font-size: 30px;
  line-height: 1;
  font-weight: 500;
  word-break: break-word;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-variant-numeric: lining-nums;
  font-feature-settings: "lnum" 1;
  color: #0d425e;
  border-color: #0d425e;
  padding: 4px 0px 16px;
}
.type-4 .title_4 h6 {
  font-family: 'Poppins', sans-serif;
  color: #0d425e;
  border-color: #0d425e;
  font-size: 20px;
  font-weight: 500;
  line-height: 1;
  word-break: break-word;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-variant-numeric: lining-nums;
  font-feature-settings: "lnum" 1;
}
.type-4 i {
  font-size: 30px;
}
.type-4 .title_4 h2 {
  font-size: 50px;
  margin-top: .5rem !important;
  color: #fdd123 !important;
  border-color: #fdd123;
}
.type-4 .cot p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  text-align: left !important;
}
.type-4 .align-center {
  align-items: center;
}
