.module-6 {
  background: #0d425e;
  padding: 50px 0;
  color: #fff;
}
.module-6 .item-right {
  padding: 10px;
}
.module-6 .item-right .img-bottom {
  max-width: 100%;
  display: flex;
}
.module-6 .item-right .img-bottom .img {
  max-width: 50%;
  padding: 10px;
}
.module-6 .item-right .img-bottom .img img {
  width: 100%;
}
