* {
  font-family: 'Poppins', sans-serif;
}
img {
  max-width: 100%;
}
.m-0 {
  margin: 0;
}
.p-0 {
  padding: 0;
}
.pl-7 {
  padding-left: 7px;
}
.pr-7 {
  padding-right: 7px;
}
.pb-7 {
  padding-bottom: 7px;
}
.pt-7 {
  padding-top: 7px;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
.line-space-small {
  height: 50px;
}
.align-content-between {
  align-content: space-between;
  height: 100%;
}
.module-6 {
  background-color: #0d425e;
  padding: 150px 0;
}
.module-6 .item {
  position: relative;
  overflow: hidden;
}
.module-6 .item .top {
  width: 100%;
}
.module-6 .item .top .line-left {
  color: #fdd123;
  font-size: 16px;
}
.module-6 .item .top .line-left:before {
  background-color: #fdd123;
  content: '';
  display: inline-block;
  width: 40px;
  height: 1px;
  transform: translateY(-0.3em);
  margin-right: 20px;
}
.module-6 .item .top h3.special-heading {
  font-size: 50px;
  color: white;
  font-weight: bold;
}
.module-6 .item .top h6.special-heading {
  font-size: 20px;
  font-weight: bold;
  color: white;
}
.module-6 .item .bottom.video {
  width: 100%;
}
.module-6 .item .bottom.video img:after {
  transition: all 0.3s ease-in-out;
  content: "\f04b";
  font-family: 'Font Awesome 5 Pro';
  position: absolute;
  color: #fff;
  font-size: 14px;
  line-height: 46px;
  width: 50px;
  height: 50px;
  text-align: center;
  border: 2px solid #fff;
  border-radius: 50%;
  left: 50%;
  top: 50%;
  margin-left: -30px;
  margin-top: -30px;
  z-index: 4;
}
.module-6 .item .item-media {
  height: 100%;
}
.module-6 .item .item-content {
  background-color: rgba(6,38,55,0.7);
  position: absolute;
  top: 100%;
  left: 0;
  padding: 35px 40px;
  width: 100%;
  transition: transform 200ms;
}
.module-6 .item .item-content h5 {
  font-size: 30px;
  font-weight: bold;
}
.module-6 .item .item-content h5 a {
  text-decoration: none;
  color: white;
}
.module-6 .item:hover >.item-content {
  transform: translateY(-100%);
}
