.type14 {
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 300;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 160px;
}
.type14 .md_14 h3 {
  font-size: 50px;
  font-weight: 500;
  word-break: break-word;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-variant-numeric: lining-nums;
  font-feature-settings: "lnum" 1;
  color: #0d425e;
  border-color: #0d425e;
}
.type14 .md_14 h6 {
  font-size: 20px;
  word-break: break-word;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-variant-numeric: lining-nums;
  font-feature-settings: "lnum" 1;
  color: #0d425e;
  border-color: #0d425e;
}
.type14 .p1 {
  padding-top: 50px;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  color: #0d425e;
  border-color: #0d425e;
}
.type14 .p1::before {
  content: '';
  display: inline-block;
  width: 40px;
  height: 1px;
  background-color: #0d425e;
  transform: translateY(-0.3em);
  margin-right: 20px;
}
.type14 .p1::after {
  box-sizing: border-box;
}
.type14 .item-media1 {
  width: 100%;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border-style: none;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
}
.type14 .item-media2 {
  width: 100%;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border-style: none;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
}
.type14 .item-media3 {
  width: 100%;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border-style: none;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
}
.type14 .item-media4 {
  width: 100%;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border-style: none;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  text-align: left;
}
.type14 .item-media5 {
  width: 100%;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border-style: none;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
}
.type14 .item-media6 {
  width: 100%;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border-style: none;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
}
